<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="auth-container">
      <h2>Login</h2>
      <form action="/login" method="POST">
        <div class="form-control">
          <label for="email">Email:</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Digite o seu email"
            required
          />
        </div>
        <div class="form-control">
          <label for="password">Senha:</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Digite a sua senha"
            required
          />
        </div>
        <input type="submit" value="Entrar" />
      </form>
      <p>Não é cadastrado? <a href="/register">Clique aqui!</a></p>
    </div>
  </body>
</html>