<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
  </head>
  <body>
    <div class="auth-container">
      <h2>Criar Conta</h2>
      <form action="/register" method="POST">
        <div class="form-control">
          <label for="name">Nome:</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Digite o seu nome"
            required
          />
        </div>
        <div class="form-control">
          <label for="email">Email:</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Digite o seu email"
            required
          />
        </div>
        <div class="form-control">
          <label for="password">Senha:</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Digite a sua senha"
            required
          />
        </div>
        <div class="form-control">
          <label for="password">Confirmar Senha:</label>
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            placeholder="Digite a sua senha novamente"
            required
          />
        </div>
        <input type="submit" value="Cadastrar" />
      </form>
      <p>Já é cadastrado? <a href="/login">Clique aqui!</a></p>
    </div>
  </body>
</html>